body { 
    background-color : #f8f9fa; /* this is a light gray */
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

nav {
    background: #fff;
    padding: 12px 16px;
    border-bottom: 1px solid #e5e7eb;
}

nav a {
    text-decoration: none;
    color: #333; /* neutral gray */
    margin-right: 16px;
}

nav a:first-child {
    font-weight: 700;
    margin-right: 30px;
}


